<a href="https://colab.research.google.com/github/swathikapendala/BATCH-11/blob/main/pre_processing_steps.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#data wrangling steps
#filling null
#duplicates
#rename
#dropna
#add columns
#group by

In [3]:
import pandas as pd
import numpy as np
data={
    "NAME":["sahithi","sunakshitha","swathika","revanth","haritej","bunny"],
    "AGE":[13,None,19,17,None,20],
    "CITY":["metpally","metpally","jagtial",None,"metpally",None],
    "SALARY":[50000,202050,50000,None,560000,80000]
}
df=pd.DataFrame(data)
print(df)
df.isnull()

          NAME   AGE      CITY    SALARY
0      sahithi  13.0  metpally   50000.0
1  sunakshitha   NaN  metpally  202050.0
2     swathika  19.0   jagtial   50000.0
3      revanth  17.0      None       NaN
4      haritej   NaN  metpally  560000.0
5        bunny  20.0      None   80000.0

    NAME    AGE   CITY  SALARY
0  False  False  False   False
1  False   True  False   False
2  False  False  False   False
3  False  False   True    True
4  False   True  False   False
5  False  False   True   False

In [7]:
import pandas as pd
df['AGE']=df['AGE'].fillna(df['AGE'].mean())
df['SALARY']=df['SALARY'].fillna(df['SALARY'].mean())
df['CITY']=df['CITY'].fillna(df['CITY'].mode()[0])
print(df)

          NAME    AGE      CITY    SALARY
0      sahithi  13.00  metpally   50000.0
1  sunakshitha  17.25  metpally  202050.0
2     swathika  19.00   jagtial   50000.0
3      revanth  17.00  metpally  188410.0
4      haritej  17.25  metpally  560000.0
5        bunny  20.00  metpally   80000.0

In [8]:
df.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [10]:
df1=df.drop_duplicates()
print(df1)

          NAME    AGE      CITY    SALARY
0      sahithi  13.00  metpally   50000.0
1  sunakshitha  17.25  metpally  202050.0
2     swathika  19.00   jagtial   50000.0
3      revanth  17.00  metpally  188410.0
4      haritej  17.25  metpally  560000.0
5        bunny  20.00  metpally   80000.0

In [11]:
df1.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [13]:
df2=df1.dropna(subset=["SALARY"])
print(df2)

          NAME    AGE      CITY    SALARY
0      sahithi  13.00  metpally   50000.0
1  sunakshitha  17.25  metpally  202050.0
2     swathika  19.00   jagtial   50000.0
3      revanth  17.00  metpally  188410.0
4      haritej  17.25  metpally  560000.0
5        bunny  20.00  metpally   80000.0

In [14]:
df2=df2.rename(columns={"NAME":"EMPLOYEE_NAME","AGE":"EMPLOYEE_AGE"})
print(df2)

  EMPLOYEE_NAME  EMPLOYEE_AGE      CITY    SALARY
0       sahithi         13.00  metpally   50000.0
1   sunakshitha         17.25  metpally  202050.0
2      swathika         19.00   jagtial   50000.0
3       revanth         17.00  metpally  188410.0
4       haritej         17.25  metpally  560000.0
5         bunny         20.00  metpally   80000.0

In [15]:
df2["EMPLOYEE_AGE"]=df2["EMPLOYEE_AGE"].astype(int)
print(df2) #convert float-->integer

  EMPLOYEE_NAME  EMPLOYEE_AGE      CITY    SALARY
0       sahithi            13  metpally   50000.0
1   sunakshitha            17  metpally  202050.0
2      swathika            19   jagtial   50000.0
3       revanth            17  metpally  188410.0
4       haritej            17  metpally  560000.0
5         bunny            20  metpally   80000.0

In [16]:
df_filtered = df[df['SALARY'] > 60000]   # employees with salary > 60000
print(df_filtered)

          NAME    AGE      CITY    SALARY
1  sunakshitha  17.25  metpally  202050.0
3      revanth  17.00  metpally  188410.0
4      haritej  17.25  metpally  560000.0
5        bunny  20.00  metpally   80000.0

In [18]:
df2['Bonus'] = df2['SALARY'] * 0.10   # 10% bonus
print(df2)

  EMPLOYEE_NAME  EMPLOYEE_AGE      CITY    SALARY    Bonus
0       sahithi            13  metpally   50000.0   5000.0
1   sunakshitha            17  metpally  202050.0  20205.0
2      swathika            19   jagtial   50000.0   5000.0
3       revanth            17  metpally  188410.0  18841.0
4       haritej            17  metpally  560000.0  56000.0
5         bunny            20  metpally   80000.0   8000.0

In [19]:
df2 = df2.sort_values(by='SALARY', ascending=False)
print(df2)

  EMPLOYEE_NAME  EMPLOYEE_AGE      CITY    SALARY    Bonus
4       haritej            17  metpally  560000.0  56000.0
1   sunakshitha            17  metpally  202050.0  20205.0
3       revanth            17  metpally  188410.0  18841.0
5         bunny            20  metpally   80000.0   8000.0
0       sahithi            13  metpally   50000.0   5000.0
2      swathika            19   jagtial   50000.0   5000.0

In [21]:
df2_group = df2.groupby('CITY')['SALARY'].mean()
print(df2_group)

CITY
jagtial      50000.0
metpally    216092.0
Name: SALARY, dtype: float64