<a href="https://colab.research.google.com/github/swathikapendala/BATCH-11/blob/main/sales_28_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
sales_missing=pd.DataFrame({
    "ORDER_ID":[12,17,20,2,9,8],
    "PRODUCT":["headphone","mobile","laptop",None,"tablet",None],
    "QUANTITY":[2,3,None,3,None,6],
    "PRICE":[5000,180000,100000,45000,20000,14500],
    "CITY":["jagtial","ooty","paris","ladak","kashmir",None]
})
print(sales_missing)

   ORDER_ID    PRODUCT  QUANTITY   PRICE     CITY
0        12  headphone       2.0    5000  jagtial
1        17     mobile       3.0  180000     ooty
2        20     laptop       NaN  100000    paris
3         2       None       3.0   45000    ladak
4         9     tablet       NaN   20000  kashmir
5         8       None       6.0   14500     None

In [2]:
sales_missing.isnull()

   ORDER_ID  PRODUCT  QUANTITY  PRICE   CITY
0     False    False     False  False  False
1     False    False     False  False  False
2     False    False      True  False  False
3     False     True     False  False  False
4     False    False      True  False  False
5     False     True     False  False   True

In [4]:
sales_missing["QUANTITY"]=sales_missing["QUANTITY"].fillna(sales_missing["QUANTITY"].mean())
sales_missing["PRICE"]=sales_missing["PRICE"].fillna(sales_missing["PRICE"].mean())
print(sales_missing)

   ORDER_ID    PRODUCT  QUANTITY   PRICE     CITY
0        12  headphone       2.0    5000  jagtial
1        17     mobile       3.0  180000     ooty
2        20     laptop       3.5  100000    paris
3         2       None       3.0   45000    ladak
4         9     tablet       3.5   20000  kashmir
5         8       None       6.0   14500  kashmir

In [6]:
sales_missing.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [7]:
sales_missing1=sales_missing.drop_duplicates()
print(sales_missing1)

   ORDER_ID    PRODUCT  QUANTITY   PRICE     CITY
0        12  headphone       2.0    5000  jagtial
1        17     mobile       3.0  180000     ooty
2        20     laptop       3.5  100000    paris
3         2       None       3.0   45000    ladak
4         9     tablet       3.5   20000  kashmir
5         8       None       6.0   14500  kashmir

In [8]:
sales_missing1.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [9]:
sales_missing2=sales_missing1.dropna(subset=["PRICE"])
print(sales_missing2)

   ORDER_ID    PRODUCT  QUANTITY   PRICE     CITY
0        12  headphone       2.0    5000  jagtial
1        17     mobile       3.0  180000     ooty
2        20     laptop       3.5  100000    paris
3         2       None       3.0   45000    ladak
4         9     tablet       3.5   20000  kashmir
5         8       None       6.0   14500  kashmir

In [10]:
sales_missing2=sales_missing2.rename(columns={"PRODUCT":"PRODUCE_NAME","CITY":"CITY_NAME"})
print(sales_missing2)

   ORDER_ID PRODUCE_NAME  QUANTITY   PRICE CITY_NAME
0        12    headphone       2.0    5000   jagtial
1        17       mobile       3.0  180000      ooty
2        20       laptop       3.5  100000     paris
3         2         None       3.0   45000     ladak
4         9       tablet       3.5   20000   kashmir
5         8         None       6.0   14500   kashmir

In [11]:
sales_missing2["PRICE"]=sales_missing2["PRICE"].astype(int)
print(sales_missing2) #convert float-->integer

   ORDER_ID PRODUCE_NAME  QUANTITY   PRICE CITY_NAME
0        12    headphone       2.0    5000   jagtial
1        17       mobile       3.0  180000      ooty
2        20       laptop       3.5  100000     paris
3         2         None       3.0   45000     ladak
4         9       tablet       3.5   20000   kashmir
5         8         None       6.0   14500   kashmir

In [13]:
sales_missing_filtered = sales_missing[sales_missing['PRICE'] > 60000]   # order id price > 5000
print(sales_missing_filtered)

   ORDER_ID PRODUCT  QUANTITY   PRICE   CITY
1        17  mobile       3.0  180000   ooty
2        20  laptop       3.5  100000  paris

In [14]:
sales_missing2 = sales_missing2.sort_values(by='PRICE', ascending=False)
print(sales_missing2)

   ORDER_ID PRODUCE_NAME  QUANTITY   PRICE CITY_NAME
1        17       mobile       3.0  180000      ooty
2        20       laptop       3.5  100000     paris
3         2         None       3.0   45000     ladak
4         9       tablet       3.5   20000   kashmir
5         8         None       6.0   14500   kashmir
0        12    headphone       2.0    5000   jagtial